<template name="othentic_connectModal">
  <div class="modal fade" id="othentic_connectModal" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

          <h3 class="modal-title">Connect to {{providerName}}</h3>
        </div>
        <div class="modal-body">
          {{#if connected}}
            <div class="alert alert-success">
              <i class="fa fa-check"></i> Connected to {{providerName}}
            </div>
          {{else}}
            <div>
              <a class="btn btn-default" href="{{handshakeUrl}}" target="othentic-{{providerId}}">
                <i class="fa fa-external-link"></i> Open Authorisation Page
              </a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>

  </div>
</template>
